@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*  shared style  */
.dark01{
    color: #131313;
}
.dark02{
    color: #424242;
}
.dark03{
    color: #727272;
}
.color01{
    color: #FF900E;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 24px;
    border-radius: 8px;
    border: none;
}

/*----header----*/
/*   nav    */
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/*  Banner   */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-subtitle{
    font-size: 1rem;
    margin-bottom: 32px;
}
.banner-image{
    margin-top: 50px;
    width: 100%;
}
/*------main------*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 100px;
}
/* features */
.team{
    align-items: center;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.feature-content{
    max-width: 537px;
    margin-left: 73px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
#sp1{
    font-weight: 500;
}
#sp2{
    font-weight: 700;
}
.feature-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 32px;
}

/*    Some Facts */
.fact-title{
    margin-bottom: 24px;
}
.fact-description{
    font-size: 1rem;
    max-width: 542px;
    margin-bottom: 100px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    max-width: 241px;
    max-height: 241px;
    justify-content: center;
    text-align: center;
    padding-top: 40px; /*extra*/
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;/*extra*/
}

/*    Sponsor  */
.sponsor-info{
    max-width: 542px;
    text-align: center;
    margin: 50px auto;
}
.sponsor-title{
    margin-bottom: 24px;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}


/*---Small device responsive---*/
@media screen and (max-width:576px) {
    .navbar,.nav-links,.team{
        flex-direction: column;
    }
    .image-container,.fact-container,.sponsor-company{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-content{
        margin-left: 20px;
    }
    .fact-container{
        justify-items: center;
        gap: 20px;
    }
    .fact{
        padding: 20px;/*extra*/
    }
    .sponsor-company{
        justify-items: center;
        gap: 50px;
    }
}
/*---Medium device responsive---*/
@media screen and (min-width:576px) and (max-width:992px) {
    .team{
        flex-direction: column;
    }
    .feature-content{
        margin-left: 20px auto;
    }
    .facts{
        justify-items: center;
    }
    .fact-container,.sponsor-company{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 30px;
    }
}

